---
layout: default
home-title: Welcome
description: I am Hanqing Wang.
header-img: assets/img/hero.jpg
---

{% include header.html %}

<div
    class="g-banner home-banner {{ site.theme-color | prepend: 'banner-theme-' }}"
    data-theme="{{ site.theme-color }}"
    style="{% if page.header-img %}background: url({{ page.header-img | prepend: site.baseurl }}) no-repeat center center; background-size: cover;{% endif %}"
>
    <h2>{{ page.home-title }}</h2>
    <p>{{ page.description }}</p>
</div>

<main class="g-container home-content">
    <aside class="g-sidebar-wrapper">
            <div class="g-sidebar">
                <section class="author-card">
                    <div class="avatar">
                        <img src="{{ site.avatar | prepend: site.baseurl }}" alt="">
                    </div>
                    <div class="author-name" rel="author">{{ site.author }}</div>
                    <div class="bio">
                        <p>{{ site.bio }}</p>
                    </div>
                    {% if site.sns.size > 0 %}
                    <ul id="sns-links" class="sns-links">
                        {% for s in site.sns %}
                        <li>
                            <a href="{{ s[1] }}" target="_blank">
                                <i class="iconfont icon-{{ s[0] }}"></i>
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </section>
    
                {% if site.recommend-tags and site.tags.size>0 %}
                <section class="tags-card">
                    {% for tag in site.tags %}
                        {% if forloop.index > site.recommend-condition-size %}
                            {% break %}
                        {% endif %}
                        <a href="{{ "tags.html#" | append: tag[0] | prepend: site.baseurl }}" class="tag">{{ tag[0]}}</a>
                    {% endfor %}
                </section>
                {% endif %}
            </div>
    
            {% if site.search %}
            <div class="search-card">
                <input id="search_input" type="text" placeholder="Search..." autocomplete="off">
                <i class="iconfont icon-search"></i>
                <div class="search_result"></div>
            </div>
            {% endif %}
    
        </aside>
    <p><font color="red">News!</font> One paper accepted by AAAI 2019 <b>(Oral)</b>.</p>
    <br><br>
    <h2>About Me</h2><br>
    <div class="article-list">
    <div class="post-cover">
    <p>Hi, I am Hanqing Wang - a first-year Ph D candidate of <em>Media Computing and Intelligent Systems Lab, Beijing Institute of Technology - Beijing</em>. I am now advised by Professor <a href="http://iitlab.bit.edu.cn/mcislab/~liangwei/">Wei Liang</a> and Professor <a href="http://teacher.bit.edu.cn/peimt/">Mingtao Pei</a>. I also collaborate with Professor <a href="https://craigyuyu.github.io/home/">Lap-Fai(Craig) Yu</a> - director of <em>Design Computing and Extended Reality Group, George Mason University - Virginia.</em> I did my internship at <em>Microsoft Research Asia, VC Group</em> from Mar. 2017 to Nov. 2017, mentored by researcher <a href="http://jlyang.org/">Jiaolong Yang</a>.</p>
    <p>My research interests are Computer Vision/Graphics and Machine Learning.</p>
    <p><br><a href="mailto:hanqingwang@bit.edu.cn">[Email]</a></p>
    </div>
    <br>
    <br>
    </div>
    
    <h2>Publications</h2><br>
    <div class="article-list">
        {% for post in paginator.posts %}
            <article class="article-item">
                <!-- {% if post.cover %}
                <div class="post-cover">
                    <a class="post-link" href="{{ post.url | prepend: site.baseurl }}" title="{{ post.title }}"></a>
                    <img src="{{ post.cover }}" href="{{ post.url | prepend: site.baseurl }}" alt="">
                </div>
                {% endif %} -->
                <div>
                    {% if post.thumbnail %}
                    <section class="post-thumbnail">
                        <!-- <a class="post-link" href="{{ post.url | prepend: site.baseurl }}" title="{{ post.title }}"></a> -->
                        <img src="{{ post.thumbnail }}" href="{{ post.url | prepend: site.baseurl }}" alt="">
                    </section>
                    {% endif %}
                    <section class="post-preview">
                        <!-- <a class="post-link" href="{{ post.url | prepend: site.baseurl }}" title="{{ post.title }}"></a> -->
                        <a href="{{ post.url | prepend: site.baseurl }}" title="{{ post.title }}">
                        <h2 class="post-title">{{ post.title }}</h2>
                        </a>
                        {% if post.authors %}
                        <p class="post-authors">{{ post.authors }}</p>
                        {% endif %}
                        <!-- {% if post.subtitle %}
                        <h3 class="post-subtitle">{{ post.subtitle }}</h3>
                        {% endif %} -->
                        <!-- {% if post.subtitle.size==0 or post.subtitle==nil %}
                        <p class="post-excerpt">{{ post.excerpt | strip_html | strip_newlines | truncate: 126}}</p>
                        {% endif %} -->
                        {% if post.venue %}
                        <p class="post-venue">{{ post.venue}}<br><br></p>
                        {% endif %}
                        <div>
                            {% if post.paper %}
                            <a href="{{ post.paper }}">[paper]</a>
                            {% endif %}
                            {% if post.demo %}
                            <a href="{{ post.demo }}">[demo]</a>
                            {% endif %}
                            {% if post.code %}
                            <a href="{{ post.code }}">[code]</a>
                            {% endif %}
                            {% if post.slide %}
                            <a href="{{ post.slide }}">[slide]</a>
                            {% endif %}
                        </div>
                    </section>
                </div>
                <footer class="post-meta">
                    <div class="post-tags">
                        {% if post.tags.size > 0 %}
                            {% for tag in post.tags  %}
                            <a href={{ "tags.html#" | append: tag | pretend: site.baseurl}} class="post-tag">{{ tag }}</a>
                            {% endfor %}
                        {% endif %}
                    </div>
                    <time class="post-date" datetime="{{ post.date | date:"%y-%m-%d" }}">{{ post.date | date_to_string }}</time>
                </footer>
            </article>
        {% endfor %}

        {% if paginator.total_pages > 1 %}
            {% include pageNav.html %}
        {% endif %}

    </div>

    

</main>

{% include footer.html %}
